body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

Button {
  cursor: pointer;
}

/* HEADER */
#container-header {
  margin-top: 30px;
  margin-bottom: 30px;
}

.circle {
  background-color: #007bff;
  border-radius: 100%;
  height: 2em;
  width: 2em;
  float: left;
  margin: 0 20px 0 20px;
}

.header-progress-text {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  float: left;
}

.header-progress-number {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  color: white;
}

/* MAIN CONTENT */
.page-text-header {
  text-align: left;
  margin-bottom: 15px;
}

/* ABOUT YOU */
#about-you {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* TEXT FIELD COMPONENT */
.textbox-container {
  padding-bottom: 10px;
}

.texbox-input {
  height: 45px;
  font-size: 1.2em;
  width: 100%;
  padding: 6px 15px 8px 15px;
}

.texbox-header {
  font-size: 1em;
  font-weight: 500;
  text-align: left;
}

.texbox-subheader {
  font-size: 0.8em;
  font-weight: 400;
  padding-left: 10px;
  color: gray;
}

/* SELECT FIELD COMPONENT */
.select-container {
  padding-bottom: 10px;
}

.select-header {
  font-size: 1em;
  text-align: left;
}

.select-menu {
  padding: 0;
}

/* MODAL BUTTON COMPONENT */
.modal-button-glyph {
  font-size: 2.5em;
}

.modal-button-text {
  font-size: 1.3em;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-button {
  box-shadow: inset;
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
}

/* CAPTURED DETAIL */
.captured-detail hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* NAV BUTTONS */
.btn-prev-page {
  float: left;
}

.btn-next-page {
  float: right;
}

/* MEDIUM AND LARGE SCREENS */
@media (min-width: 768px) {
  /* MAIN CONTENT */
  .main-content-container {
    height: 409px;
    position: relative;
  }

  .next-prev-row {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
  /*NAV BUTTONS*/
  .btn-page-nav {
    width: 100%;
  }
}

/* SMALL SCREENS */
@media (max-width: 767px) {
  /* HEADER */
  #container-header {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .circle {
    border-radius: 100%;
    height: 4vw;
    width: 4vw;
    margin: 0 10px 0 0;
  }
  
  .header-progress-text {
    font-weight: 500;
    font-size: 2.5vw;
  }
  
  .header-progress-number {
    font-size: 2.35vw;
  }

  /* MAIN CONTENT */
  .page-text-header {
    text-align: center;
  }

  /*NAV BUTTONS*/
  .btn-page-nav {
    width: 100%;
  }
}

/* EXTRA SMALL SCREENS*/
@media (max-width: 575px) {
  /* HEADER */
  .header-progress-text {
    font-weight: 500;
    font-size: 3vw;
  }

  /* MAIN CONTENT */
  .page-text-header {
    font-size: 5vw;
  }

  /* TEXT FIELD COMPONENT */
  .texbox-input {
    height: 8vw;
    font-size: 3.5vw;
  }

  .texbox-header {
    font-size: 3vw;
    font-weight: 500;
    text-align: left;
  }

  .texbox-subheader {
    font-size: 2.5vw;
  }

  /*NAV BUTTONS*/
  .btn-page-nav {
    width: 100%;
    font-size: 3vw;
  }
}